[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nubrain = {file = "app", editable = true}

[dev-packages]
nubrain = {extras = ["dev"], file = "app", editable = true}

[requires]
python_version = "3.12"
